<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CarnetContactStart</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewContact</display-name>
    <servlet-name>NewContact</servlet-name>
    <servlet-class>Servlets.NewContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewContact</servlet-name>
    <url-pattern>/NewContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>Servlets.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>Servlets.UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindContact</display-name>
    <servlet-name>FindContact</servlet-name>
    <servlet-class>Servlets.FindContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindContact</servlet-name>
    <url-pattern>/FindContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewContactGroup</display-name>
    <servlet-name>NewContactGroup</servlet-name>
    <servlet-class>Servlets.NewContactGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewContactGroup</servlet-name>
    <url-pattern>/NewContactGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewGroup</display-name>
    <servlet-name>NewGroup</servlet-name>
    <servlet-class>Servlets.NewGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewGroup</servlet-name>
    <url-pattern>/NewGroup</url-pattern>
  </servlet-mapping>
</web-app>